body {
    background-color: white;
    font-size: 75%;

    header {
        width: 75vw;
        margin: 0 auto;
        margin-top: 4rem;

        @media (max-width: 414px) {
            width: 100vw;
            margin-top: 0;
        }
    }

    main {
        width: 75vw;
        margin: 0 auto;

        @media (max-width: 414px) {
            width: 100vw;
        }

        button {
            background-color: #FF7FDE;
            color: black;
        }

        .score {
            width: 100%;
            @media (max-width:414px) {
                width: 75rem;
            }
            .dierese {
                width: 5%;
            }

            .club {
                width: 40%;
            }

            .arrow {
                width: 5%;
            }

            .point {
                width: 5%;
            }

            .day {
                width: 5%;
            }

            .ratio {
                width: 10%;
            }

            .advantage {
                width: 5%;
            }

            .disadvantage {
                width: 5%;
            }

            .difference {
                width: 5%;
            }

            .shape {
                width: 20%;
            }

            tbody {
                .logo {
                    width: 2.5rem;
                    height: auto;
                    margin-right: 1rem;
                }

                .bi-dash-circle-fill {
                    color: #696863;
                }

                .bi-x-circle-fill {
                    color: #CC2002;
                }

                .bi-check-circle-fill {
                    color: #1E8004;
                }
            }
        }

        .article {
            background-color: #262624;

            .title {
                font-size: 1.1rem;
                margin: 0;
            }

            .description {
                font-size: 1.3rem;
                font-weight: bold;
                margin: 0.5rem 0 0 0;

            }

            .date {
                font-weight: bold;
                margin: 0.5rem 0 0 0;

            }
        }
    }

}